#body{
     background-color:blue;
     font-family: 'Monofett', cursive;
}

#L1{
    color:red;
}
  
  #L2{
    color:red;
  }
  
  #L3{
     color:red; 
  }
  
  #L4{
      color:red;
  }
  
  #L5{
      color:red;
  }
 
  ul{
    font-family: 'Montserrat', sans-serif;  
  }