#body{
     background-color:blue;
     font-family: 'Monofett', cursive;
     font-size:30px;
     
     background-image: url(imgie/backgournd.jpg);
}

#L1{
    color:#0088ff; 
  
}
  
  #L2{
    color:#0088ff;
  }
  
  #L3{
     color:#0088ff;
  }
  
  .L4{
      color:#0088ff; text-align: center; 
  }
  
  #L5{
      color:#0088ff; text-align: center; 
  }
 
  ul{
    font-family: 'Montserrat', sans-serif;
     
  }
  
  #L6{
      color:#000099; text-align: center;
  }
  
  a:link{
      color:#0088ff ;
      background-color: blue;
  }
  
  a:hover{
      color:blue;
      background-color: green;s
  }
  
  a:visited{
      color:#0088ff;
  }